{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='JavaScript/saved-recipes.js') }}" defer></script>
{% endblock %}

{% block content %}

<header>
    <h1 class="title">PantryAI</h1>
    <nav class="navbar">    
        <!-- ul with links to applicable pages and logout -->
        <ul>
            <li><a href="{{ url_for('view.pantry')}}">Pantry</a></li>
            <li><a href="{{url_for('auth.logout')}}" id="logoutlink">Logout</a></li>
        </ul>
    </nav>
</header>

<!-- Saved Recipes -->
<div class="saved-recipes-div">
    <h2>Saved Recipes</h2>
    {% for saved_recipe in saved_recipes %}
        <div class="recipe-card">
            <button class="saved-recipe-button">{{saved_recipe.recipe.recipe_name}}</button>
            <dialog class="recipe-dialog">
                <h3>{{saved_recipe.recipe.recipe_name}}</h3>
                <h4>Meal Type: {{saved_recipe.meal_type}}</h4>
                <h4>Ingredients:</h4>
                <ul>
                    {% for ingredient in saved_recipe.recipe.ingredients %}
                        <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
                <h4>Instructions:</h4>
                <ol>
                    {% for instruction in saved_recipe.recipe.instructions %}
                        <li>{{instruction}}</li>
                    {% endfor %}
                </ol>
                <button class="close-dialog">Close</button>
                <button class="delete-saved-recipe" data-recipe-id="{{saved_recipe.id}}">Delete Recipe</button>
            </dialog>
        </div>
    {% endfor %}
</div>

{% endblock %}