{% extends 'base.html' %}

{% block content %}

<header>
    <h1>PantryAI</h1>
</header>

<div class="tabledata">
    <table>
        <thead>
            <th>Ingredient</th>
        </thead>
        <tbody>
            {% for item in pantry_items %}
                <tr>
                    <td>{{ item.ingredient }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pantry_form">
    <form action="{{url_for('view.index')}}" method="POST">
        <!-- CSRF Token for security and other hidden elements -->
        {{ form.hidden_tag() }}
        <!-- Ingredient Input -->
        {{ form.ingredient.label }} 
        {{ form.ingredient() }}
        <!-- Submit Button -->
        {{ form.submit() }}
    </form>
</div>
    

{% endblock %}